* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.login-container {
  display: flex;
  justify-content: space-between;
}

.login-right-side,
.login-left-side {
  width: 50%;
  min-height: 100vh;
}

.login-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.login-left-side {
  background-color: #566771;
  background-image: url(./images/logo.png);
  background-repeat: no repeat;
  background-size: cover;
}

.login-txt {
  color: #566771;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 5em;
  background-color: #566771;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  align-content: center;
}

.text-input {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.reset-pwd {
  color: #666;
  margin-top: 1rem;
}

.custom-button {
  margin-top: 1rem;
  width: 10rem;
  height: 2em;
  border-radius: 5px;
  color: rgb(237, 237, 159);
  background-color: #566771;
}
