* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.login-container {
  display: flex;
  justify-content: space-between;
}

.login-right-side,
.login-left-side {
  width: 50%;
  min-height: 100vh;
}

.login-left-side {
  background-color: #566771;
  background-image: url(./images/logo.png);
  background-repeat: no repeat;
  background-size: cover;
}

.login-txt {
  color: #566771;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding: 8em;
}